<div class="container">
  <div class="row">
    <div class="col-md-2">
      <label>绑定邮箱</label>
    </div>
    <div class="col-md-10">
      <input type="text" value="{{user.emailAddress}}" #emailAddress>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>是否验证</label>
    </div>
    <div class="col-md-10">
      <label>{{user.confirmed}}</label>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="col-md-offset-2 col-md-10">
    <button type="button" class="btn btn-default" (click)="emailConfirmation(emailAddress.value)">邮箱验证</button>
  </div>
</div>
