<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/image/shiki.jpg" width="100%" height="100%">
    </div>
    <div class="col-md-6">
      <div class="row">
        <label>name</label>
      </div>
      <div class="row">
        <p>description</p>
      </div>
      <div class="row">
        <p>progress</p>
      </div>
      <div class="row">
        <div class="col-md-6" align="center">
          <button type="button">选座购买</button>
        </div>
        <div class="col-md-6" align="center">
          <button type="button">立即购买(不选座)</button>
        </div>
      </div>
    </div>
  </div>
</div>
