<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!--<div class="navbar-header">-->
    <!--<a class="navbar-brand" href="#">Dingo</a>-->
    <!--</div>-->
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            演唱会
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('流行')">流行</a></li>
            <li><a (click)="gotoShow('摇滚')">摇滚</a></li>
            <li><a (click)="gotoShow('民族')">民族</a></li>
            <li><a (click)="gotoShow('音乐节')">音乐节</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            音乐会
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('管弦乐')">管弦乐</a></li>
            <li><a (click)="gotoShow('独奏')">独奏</a></li>
            <li><a (click)="gotoShow('室内乐及古乐')">室内乐及古乐</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            曲苑杂坛
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('相声')">相声</a></li>
            <li><a (click)="gotoShow('魔术')">魔术</a></li>
            <li><a (click)="gotoShow('马术')">马术</a></li>
            <li><a (click)="gotoShow('杂技')">杂技</a></li>
            <li><a (click)="gotoShow('戏曲')">戏曲</a></li>
            <li><a (click)="gotoShow('其他')">其他</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            话剧歌剧
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('戏剧')">话剧</a></li>
            <li><a (click)="gotoShow('歌剧')">歌剧</a></li>
            <li><a (click)="gotoShow('歌舞剧')">歌舞剧</a></li>
            <li><a (click)="gotoShow('儿童剧')">儿童剧</a></li>
            <li><a (click)="gotoShow('音乐剧')">音乐剧</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            体育比赛
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('球类运动')">球类运动</a></li>
            <li><a (click)="gotoShow('搏击竞技')">搏击竞技</a></li>
            <li><a (click)="gotoShow('其他运动')">其他运动</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            舞蹈芭蕾
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('舞蹈')">舞蹈</a></li>
            <li><a (click)="gotoShow('芭蕾')">芭蕾</a></li>
            <li><a (click)="gotoShow('舞剧')">舞剧</a></li>
          </ul>
        </li>
      </ul>
      <!--<ul class=" nav navbar-nav navbar-right ">-->
      <!--<li><a routerLink="/identify/login" routerLinkActive="active">登录/注册</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>

<div class="container">
  <div *ngFor="let show of showList">
    <div class="show">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/image/shiki.jpg" width="100%" height="100%">
        </div>
        <div class="col-md-6">
          <div class="row">
            <label>{{show.name}}</label>
          </div>
          <div class="row">
            <p>{{show.description}}</p>
          </div>
          <div class="row">
            <p>演出进度:{{show.progressType}}</p>
          </div>
          <div class="row">
            <p>演出类型:{{show.showType}}</p>
          </div>
          <div class="row">
            <p>开始时间:{{show.startTime.split(' ')[0]}}</p>
          </div>
          <div class="row">
            <p>结束时间:{{show.endTime.split(' ')[0]}}</p>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button type="button" routerLink="../select/{{show.id}}" routerLinkActive="active"
                      class="btn btn-default">选座购买
              </button>
            </div>
            <div class="col-md-3">
              <button type="button" routerLink="../noSelect/{{show.id}}" routerLinkActive="active"
                      class="btn btn-default">立即购买(不选座)
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
