<div class="container">
  <div class="row">
    <div class="col-md-4" style="text-align: center">
      <label routerLink="basicInfo" routerLinkActive="active" style="font-size: 20px">基本信息</label>
    </div>
    <div class="col-md-4" style="text-align: center">
      <label routerLink="orderInfo" routerLinkActive="active" style="font-size: 20px">我的订单</label>
    </div>
    <div class="col-md-4" style="text-align: center">
      <label routerLink="statisticsInfo" routerLinkActive="active" style="font-size: 20px">历史统计</label>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

