<div class="container">
  <div class="row">
    <div class="col-md-3" routerLink="../ticketManagerExamine" routerLinkActive="active">
      <label style="font-size: 20px">审批</label>
    </div>
    <div class="col-md-3" routerLink="../ticketManagerSettle" routerLinkActive="active">
      <label style="font-size: 20px">结算</label>
    </div>
    <div class="col-md-3" routerLink="../ticketManagerStatisticsInfo" routerLinkActive="active">
      <label style="font-size: 20px">统计</label>
    </div>
    <div class="col-md-3" routerLink="../ticketManagerIdentify" routerLinkActive="active">
      <label style="font-size: 20px">个人</label>
    </div>
  </div>
  <div class="row" style="height: 20px;"></div>
</div>

<div class="container">
  <div *ngFor="let earning of showEarningList">
    <div class="row">
      <label>{{earning.id}}</label>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>{{earning.showId}}</label>
      </div>
      <div class="col-md-6">
        <label>venueName</label>
      </div>
    </div>
    <div class="row">
      <p>比例条</p>
    </div>
    <div class="row">
      <button type="button" (click)="doSettle(earning.id)">结算</button>
    </div>
  </div>
</div>
