<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dingo</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            演唱会
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('pop')">流行</a></li>
            <li><a (click)="gotoShow('pop')">摇滚</a></li>
            <li><a (click)="gotoShow('pop')">民族</a></li>
            <li><a (click)="gotoShow('pop')">音乐节</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            音乐会
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('pop')">管弦乐</a></li>
            <li><a (click)="gotoShow('pop')">独奏</a></li>
            <li><a (click)="gotoShow('pop')">室内乐及古乐</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            曲苑杂坛
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('pop')">相声</a></li>
            <li><a (click)="gotoShow('pop')">魔术</a></li>
            <li><a (click)="gotoShow('pop')">马术</a></li>
            <li><a (click)="gotoShow('pop')">杂技</a></li>
            <li><a (click)="gotoShow('pop')">戏曲</a></li>
            <li><a (click)="gotoShow('pop')">其他</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            话剧歌剧
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('pop')">话剧</a></li>
            <li><a (click)="gotoShow('pop')">歌剧</a></li>
            <li><a (click)="gotoShow('pop')">歌舞剧</a></li>
            <li><a (click)="gotoShow('pop')">儿童剧</a></li>
            <li><a (click)="gotoShow('pop')">音乐剧</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            体育比赛
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('pop')">球类运动</a></li>
            <li><a (click)="gotoShow('pop')">搏击竞技</a></li>
            <li><a (click)="gotoShow('pop')">其他运动</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            舞蹈芭蕾
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="gotoShow('pop')">舞蹈</a></li>
            <li><a (click)="gotoShow('pop')">芭蕾</a></li>
            <li><a (click)="gotoShow('pop')">舞剧</a></li>
          </ul>
        </li>
      </ul>
      <ul class=" nav navbar-nav navbar-right ">
        <li><a href="#">我的订单</a></li>
        <li><a routerLink="/identify/login" routerLinkActive="active">登录/注册</a></li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
