<div class="container">
  <div class="row" style="height: 20px"></div>
  <div class="row">
    <div class="col-md-2">
      <label>账号</label>
    </div>
    <div class="col-md-10">
      <p>{{user.id}}</p>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>昵称</label>
    </div>
    <div class="col-md-10">
      <p>{{user.name}}</p>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>会员级别</label>
    </div>
    <div class="col-md-10">
      <p>{{user.level}}</p>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>当前积分</label>
    </div>
    <div class="col-md-10">
      <p>{{user.currentIntegral}}</p>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>总积分</label>
    </div>
    <div class="col-md-10">
      <p>{{user.totalIntegral}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><label>100积分卷(满100减10):</label></div>
    <div class="col-md-9"><p>{{firstCouponNumber}}张</p></div>

  </div>
  <div class="row">
    <div class="col-md-2"><label>500积分卷(满1000减100):</label></div>
    <div class="col-md-9"><p>{{secondCouponNumber}}张</p></div>
  </div>
  <div class="row">
    <div class="col-md-2"><label>1000积分卷(满200减20):</label></div>
    <div class="col-md-9"><p>{{thirdCouponNumber}}张</p></div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>绑定邮箱</label>
    </div>
    <div class="col-md-10">
      <p>{{user.emailAddress}}</p>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-3">
      <label>100积分，满100减10</label>
    </div>
    <div class="col-md-3">
      <p><input type="number" #firstCouponNumbers> 张</p>
    </div>
    <div class="col-md-3">
      <button type="button" (click)="exchangeCoupon(1,firstCouponNumbers.value)">兑换</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>500积分，满1000减100</label>
    </div>
    <div class="col-md-3">
      <p><input type="number" #secondCouponNumbers> 张</p>
    </div>
    <div class="col-md-3">
      <button type="button" (click)="exchangeCoupon(2,secondCouponNumbers.value)">兑换</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label>1000积分，满2000减200</label>
    </div>
    <div class="col-md-3">
      <p><input type="number" #thirdCouponNumbers> 张</p>
    </div>
    <div class="col-md-3">
      <button type="button" (click)="exchangeCoupon(3,thirdCouponNumbers.value)">兑换</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-default" (click)="gotoUpdateBasicInfo()">修改基本信息</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-default" (click)="cancel()">取消会员（注销）</button>
    </div>
  </div>
</div>
