<div class="container">
  <div class="row">
    <div class="col-md-3">
      <input type="text" #text>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-default" (click)="searchVenue(text.value)">搜索</button>

    </div>
  </div>

  <div *ngFor="let venue of showVenueList">
    <div class="venue">
      <div class="row">
        <div class="col-md-3">
          <p><label>ID:</label>{{venue.id}}</p>
        </div>
        <div class="col-md-3">
          <p><label>编号:</label>{{venue.code}}</p>
        </div>
        <div class="col-md-3">
          <p><label>名字:</label>{{venue.name}}</p>
        </div>
        <div class="col-md-3">
          <p><label>地址:</label>{{venue.address}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
