<div class="container">
  <div class="row">
    <div class="col-md-3">
      <label routerLink="../../venuePublishShow/{{venueId}}">发布演出计划</label>
    </div>
    <div class="col-md-3">
      <label routerLink="../../venueIdentify/userInfo/{{venueId}}">场馆信息</label>
    </div>
  </div>
</div>

<div class="container">
  <form #showForm="ngForm" (submit)="publishShow()">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>演出名称</label>
        </div>
        <div class="col-md-6">
          <input type="text" name="name" [(ngModel)]="show.name" required #name="ngModel">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-success" (click)="dp.toggle()">开始时间</button>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 class="form-control"
                 [minDate]="minDate"
                 #dp="bsDatepicker"
                 bsDatepicker name="startTime" [(ngModel)]="show.startTime" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-success" (click)="dpp.toggle()">结束时间</button>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 class="form-control"
                 [minDate]="show.startTime"
                 #dpp="bsDatepicker"
                 bsDatepicker name="endTime" [(ngModel)]="show.endTime" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>演出类型</label>
        </div>
        <div class="col-md-6">
          <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索"
                  data-actions-box="true" required name="showType" [(ngModel)]="show.showType">

            <optgroup label="演唱会">
              　　　　
              <option selected>流行</option>
              　　　　
              <option>摇滚</option>
              　　　　
              <option>民族</option>
              　　　　
              <option>音乐节</option>
              　　
            </optgroup>
            　　
            <optgroup label="音乐会">
              　　　　
              <option>管弦乐</option>
              　　　　
              <option>独奏</option>
              　　　　
              <option>室内乐及古乐</option>
              　　　　
            </optgroup>
            　　
            <optgroup label="曲苑杂坛">
              　　　　
              <option>相声</option>
              　　　　
              <option>魔术</option>
              　　　　
              <option>马术</option>
              　　　　
              <option>杂技</option>
              <option>戏曲</option>
              <option>其它</option>
              　　
            </optgroup>
            <optgroup label="话剧歌剧">
              　　　　
              <option>话剧</option>
              　　　　
              <option>歌剧</option>
              　　　　
              <option>歌舞剧</option>
              　　　　
              <option>儿童剧</option>
              <option>音乐剧</option>
              　　
            </optgroup>
            <optgroup label="体育比赛">
              　　　　
              <option>球类运动</option>
              　　　　
              <option>搏击竞技</option>
              　　　　
              <option>其他运动</option>
              　　　　
            </optgroup>

            <optgroup label="舞蹈芭蕾">
              　　　　
              <option>舞蹈</option>
              　　　　
              <option>芭蕾</option>
              　　　　
              <option>舞剧</option>
              　　　
            </optgroup>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>演出描述</label>
        </div>
        <div class="col-md-6">
          <input type="text" name="description" [(ngModel)]="show.description" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>一等座价格</label>
        </div>
        <div class="col-md-6">
          <input type="number" name="firstSeat" [(ngModel)]="firstSeatCost" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>二等座价格</label>
        </div>
        <div class="col-md-6">
          <input type="number" name="secondSeat" [(ngModel)]="secondSeatCost" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>三等座价格</label>
        </div>
        <div class="col-md-6">
          <input type="number" name="thirdSeat" [(ngModel)]="thirdSeatCost" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!showForm.form.valid">确认申请</button>
    </div>
  </form>
</div>
