<div class="container">
  <div class="row">
    <label>用户名:{{user.name}}</label>
  </div>
  <div class="row">
    <label>等级:{{user.level}}</label>
  </div>
  <div class="row">
    <label>余额:{{user.balance}}</label>
  </div>
  <div class="row">
    <label>订单ID:{{order.id}}</label>
  </div>
  <div class="row">
    <label>订单时间:{{order.orderTime}}</label>
  </div>
  <div class="row">
    <label>订单价格:{{order.cost}}</label>
  </div>
  <div class="row" *ngIf="firstExist">
    <div class="col-md-9">
      <p><label>100积分卷(满100减10):</label>{{firstCouponNumber}}张</p>
    </div>
    <div class="col-md-3">
      <input type="checkbox">
    </div>
  </div>
  <div class="row" *ngIf="secondExist">
    <div class="col-md-9">
      <p><label>500积分卷(满1000减100):</label>{{secondCouponNumber}}张</p>
    </div>
    <div class="col-md-3">
      <input type="checkbox">
    </div>
  </div>
  <div class="row" *ngIf="thirdExist">
    <div class="col-md-9">
      <p><label>1000积分卷(满200减20):</label>{{thirdCouponNumber}}张</p>
    </div>
    <div class="col-md-3">
      <input type="checkbox">
    </div>
  </div>
  <div *ngFor="let ticket of order.ticketList">
    <div class="row">
      <label>取票ID:{{ticket.id}}</label>
    </div>
    <div class="row">
      <label>座位ID:{{ticket.seatId}}</label>
    </div>
    <div class="row">
      <label>价格:{{ticket.cost}}</label>
    </div>
    <div class="row">
      <label>座位等级:{{ticket.level}}</label>
    </div>
  </div>
  <div class="row">
    <button type="button" (click)="pay()">支付</button>
  </div>
</div>
