<div class="container">
  <div class="row">
    <div class="col-md-3">
      <input type="text" #text>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-default" (click)="searchTicketFinance(text.value)">搜索</button>
    </div>
  </div>
  <div *ngFor="let ticketFinance of showTicketFinanceList">
    <div class="row">
      <label>场馆ID:{{ticketFinance.venueId}}</label>
    </div>
    <div class="row">
      <label>金额:{{ticketFinance.cost}}</label>
    </div>
  </div>
</div>
