<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/image/shiki.jpg" width="100%" height="100%">
    </div>
    <div class="col-md-6">
      <div class="row">
        <label>{{show.name}}</label>
      </div>
      <div class="row">
        <p>{{show.description}}</p>
      </div>
      <div class="row">
        <p>演出进度:{{show.progressType}}</p>
      </div>
      <div class="row">
        <p>演出类型:{{show.showType}}</p>
      </div>
      <div class="row">
        <p>开始时间:{{show.startTime}}</p>
      </div>
      <div class="row">
        <p>结束时间:{{show.endTime}}</p>
      </div>
      <div class="row">
        <p>总座位数:{{show.totalSeats}}</p>
      </div>
      <div class="row">
        <p>剩余座位数:{{show.currentSeats}}</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>一等座:</label>
        </div>
        <div class="col-md-">
          <input type="text" #firstNumber>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>二等座:</label>
        </div>
        <div class="col-md-">
          <input type="text" #secondNumber>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>三等座:</label>
        </div>
        <div class="col-md-">
          <input type="text" #thirdNumber>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" align="center">
          <button type="button" (click)="buyTickets(firstNumber.value,secondNumber.value,thirdNumber.value)">确认购买</button>
        </div>
      </div>
    </div>
  </div>
</div>
