<div class="container">
  <div class="row">
    <div class="col-md-2">
      <label>编号</label>
    </div>
    <div class="col-md-10">
      <label>{{venue.code}}</label>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>名称</label>
    </div>
    <div class="col-md-10">
      <label>{{venue.name}}</label>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>地址</label>
    </div>
    <div class="col-md-10">
      <label>{{venue.address}}</label>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>余额</label>
    </div>
    <div class="col-md-10">
      <label>{{venue.balance}}</label>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>座位数</label>
    </div>
    <div class="col-md-10">
      <label>{{venue.seatList.length}}</label>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="col-md-offset-2 col-md-10">
    <button type="button" class="btn btn-default">修改基本信息</button>
  </div>
</div>
