<div class="container">
  <div class="row">
    <div class="col-md-2">
      <label>账号</label>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>昵称</label>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>会员级别</label>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>当前积分</label>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>总积分</label>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="col-md-2">
      <label>绑定邮箱</label>
    </div>
    <div class="col-md-10">
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="col-md-offset-2 col-md-10">
    <button type="button" class="btn btn-default">邮箱验证</button>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="col-md-offset-2 col-md-10">
    <button type="button" class="btn btn-default">修改基本信息</button>
  </div>
</div>
